{% extends "base.html" %}
{% block content %}

<div class="content-section">
    <h3>Viaje:</h3>
    <h5>Estado: {{ viaje.estado }}</h5>
    <p><strong>Origen: </strong> {{viaje.ruta.ciudad_origen}} | <strong>Destino: </strong> {{viaje.ruta.ciudad_destino}}
    </p>
    <p><strong>Tipo de combi: </strong> {{viaje.ruta.combi.tipo}} | <strong>Fecha y hora de salida: </strong> {{viaje.fecha_hora}}
    </p>
    <p><strong>Precio por asiento: </strong> ${{viaje.precio}}
    </p>
    <p><strong>Asientos disponibles: </strong> {{viaje.asientos_disponibles}}
    </p>
    <hr>
    {% if viaje.estado == 'Pendiente' %}
    <form method='POST' action="{% url 'chofer_viaje_asistencia' viaje.pk %}"> {% csrf_token %}
        <p><input type='submit' name='vender_pasajes' value='Vender pasajes' class="btn btn-outline-info"></p>
    </form>
    {% endif %}
</div>
<div class="content-section">
    <h3>Pasajeros:</h3>
    {% if no_hay_pasajeros %}
        <p>No hay pasajeros de momento.</p>
    {% else %}
        <table cellspacing="1" cellpadding="4" border="1">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th scope="col">Cant. pasajes</th>
            <th scope="col">Estado</th>
            </tr>
            {% for compra in compras %}
                {% include "pasajero.html" %}
            {% endfor %}
        </table>
    {% endif %}
</div>

{% if viaje.estado == 'Pendiente' %}
<div class="content-section">
    <form method='POST' action="{% url 'chofer_viaje_asistencia' viaje.pk %}"> {% csrf_token %}
        <p><input type='submit' name='suspender_viaje' value='Suspender viaje' class="btn btn-outline-info">
            &nbsp<input type='submit' name='iniciar_viaje' value='Iniciar viaje' class="btn btn-outline-info"></p>
    </form>
</div>
{% endif %}
{% if viaje.estado == 'Iniciado' %}
<div class="content-section">
    <form method='POST' action="{% url 'chofer_viaje_asistencia' viaje.pk %}"> {% csrf_token %}
        <p><input type='submit' name='finalizar_viaje' value='Finalizar viaje' class="btn btn-outline-info"></p>
</div>
{% endif %}

{% endblock content %}