
{% extends "base.html" %}

{% block content %}
<h2>Próximos viajes:</h2>
{% if user.cliente.suspendido %} 
    <p style="color: red;"> El día {{user.cliente.fecha_suspension}} has mostrado síntomas compatibles con Covid-19 por lo que no podrás comprar ni realizar viajes con fecha anterior al {{ fin_suspension }}, todos tus viajes en estas fechas han sido cancelados con reembolso del 100%. Podrás seguir comprando pasajes para viajes con fecha de salida posterior al {{ fin_suspension }}. </p>
{% endif %}
{% if user.first_name in "Pendiente" %}
    <p style="color: red;"> Para utilizar el sistema debes completar la información de tu perfil.</p>
{% endif %}
{% if not viajes %}
    No hay viajes disponibles en este momento.
{% else %}
        <ul class="list-group">
        {% if not user.cliente %} 
            <p style="color: red;"> Para comprar un viaje debe iniciar sesión. </p>
        {% endif %}
        {% for viaje in viajes %}
            {% include "viaje.html" %}
        {% endfor %}
        </ul>
{% endif %}
{% endblock content %}

{% block comentarios %}
    <div class="content-section">
        <p class='text-muted'>Comentarios de nuestros clientes:
            {% if not comentarios %}
                No hay comentarios.
                {% if user.cliente and user.first_name not in "Pendiente" %} 
                    <a href="{% url 'agregar_comentario' %}">Agregar un comentario.</a>
                {% endif %}
            {% else %}
                <ul class="list-group">
                {% for c in comentarios %}
                    <li class="list-group-item list-group-item-light" style="font-size:13px"> {{c.fecha_de_creacion}} <hr> 
                        <strong>{{c.contenido}} </strong> 
                        {% if c.autor == user.cliente %}
                            <a href="{% url 'modificar_comentario' c.pk %}">(Editar)</a>
                            <a href="{% url 'eliminar_comentario' c.pk %}">(Eliminar)</a>
                        {% endif %} 
                    <hr> Usuario: {{c.autor.usuario.first_name}} </li>
                {% endfor %}
                </ul>
                <br>
                {% if user.cliente %} 
                    <a href="{% url 'agregar_comentario' %}">Agregar un comentario.</a>
                {% endif %}
            {% endif %}
        </p>
        </div>
{% endblock %}
