{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
<div class="content-section">
    <p class='text' style="font-size:20px">Mis comentarios:
        {% if not comentarios %}
            <p>No hay comentarios.</p>
            {% if user.cliente %} 
                <p>
                <a href="{% url 'agregar_comentario' %}">Agregar un comentario.</a>
            </p>
            {% endif %}
        {% else %}
            <ul class="list-group">
            {% for c in comentarios %}
                <li class="list-group-item list-group-item-light" style="font-size:13px"> {{c.fecha_de_creacion}} <hr> 
                    <strong style="font-size:20px">{{c.contenido}} </strong> 
                    {% if c.autor == user.cliente %}
                        <a href="{% url 'modificar_comentario' c.pk %}">(Editar)</a>
                        <a href="{% url 'eliminar_comentario' c.pk %}">(Eliminar)</a>
                    {% endif %} 
            {% endfor %}
            </ul>
            <br>
            {% if user.cliente %} 
                <a href="{% url 'agregar_comentario' %}" style= "font-size: 15px;"> Agregar un comentario</a>
            {% endif %}
        {% endif %}
    </p>
    </div>
</div>
{% endblock content %}