{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <h1><strong>Mi perfil</strong></h1>
        <body>
            {% if cliente %}
                <div>
                    <h3>Nombre: {{ cliente.usuario.first_name }}</h3>
                    <p class="mt-3">Si desea cambiar su nombre haz clic <a href="{% url 'perfil_nombre' %}">aquí</a>.</p>
                </div>
                <div>
                    <h3>Apellido: {{ cliente.usuario.last_name }}</h3>
                    <p class="mt-3">Si desea cambiar su apellido haz clic <a href="{% url 'perfil_apellido' %}">aquí</a>.</p>
                </div>
                <div>
                    <h3>Email: {{ cliente.usuario.email }}</h3>
                </div>
                <div>
                    <h3>Contraseña: **********</h3>
                    <p class="mt-3">Si desea cambiar su contraseña haz clic <a href="{% url 'perfil_contraseña' %}">aquí</a>.</p>
                </div>
                <div>
                    <h3>Dni: {{ cliente.dni }}</h3>
                    <p class="mt-3">Si desea cambiar su dni haz clic <a href="{% url 'perfil_dni' %}">aquí</a>.</p>
                </div>
                <div>
                    <h3>Fecha de nacimiento: {{ cliente.fecha_nacimiento }}</h3>
                    <p class="mt-3">Si desea cambiar su fecha de nacimiento haz clic <a href="{% url 'perfil_fecha_de_nacimiento' %}">aquí</a>.</p>
                </div>
                <div>
                    {% if cliente.gold %}
                        <h3>Tipo de cliente: Gold</h3>
                        <h3>Código de seguridad de la tarjeta: {{ cliente.tarjeta_cod_seguridad }}</h3>
                        <h3>Fecha de vencimiento de la tarjeta: {{ cliente.tarjeta_fecha_vencimiento }}</h3>
                        <h3>Nombre del titular de la tarjeta: {{ cliente.tarjeta_nombre_titular }}</h3>
                        <h3>Número de la tarjeta: {{ cliente.tarjeta_numero }}</h3>
                    {% endif %}
                    {% if cliente.gold == False %}
                        <h3>Tipo de cliente: Común</h3>
                    {% endif %}
                </div>
            {% else %}
                <h1>No hay un cliente con ese dni</h1>
            {% endif %}
        </body>
    </head>
</html>
{% endblock content %}