{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <h1><strong>Mi perfil</strong></h1>
        {% if editado %}
            <p style="color: green;">Se guardó la edición del perfil</p>
        {% endif %}
        <body>
            {% if cliente %}
                <form action="{% url 'perfil_editar' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <h4>Nombre:</h4>
                        <p><input class="form-control mb-2" value={{cliente.usuario.first_name}} name="nombre_ingresado" style="font-size:20px"></p>
                    </div>
                    <div>
                        <h4>Apellido:</h4>
                        <p><input class="form-control mb-2" value={{cliente.usuario.last_name}} name="apellido_ingresado" style="font-size:20px"></p>
                    </div>
                    <div>
                        <h4>Email:</h4>
                        <p><input class="form-control mb-2" value={{cliente.usuario.email}} style="font-size:20px" readonly=True></p>
                    </div>
                    <div>
                        <h4>Contraseña:</h4>
                        <p><input class="form-control mb-2" value={{cliente.cantidad_de_caracteres_de_la_contraseña}} style="font-size:20px" readonly=True></p>
                        <p class="mt-3">Si desea cambiar su contraseña haz clic <a href="{% url 'perfil_contraseña' %}">aquí</a>.</p>
                    </div>
                    <div>
                        <h4>Dni:</h4>
                        {% if error_con_dni == "Ya existe el dni" %}
                            <p style="color: red;">Ya hay un cliente con ese dni, por favor ingrese otro</p>
                        {% endif %}
                        <p><input class="form-control mb-2" value={{cliente.dni}} name="dni_ingresado" style="font-size:20px"></p>
                    </div>
                    <div>
                        <h4>Fecha de nacimiento:</h4>
                        {% if error_con_fecha_de_nacimiento == "Es menor de edad" %}
                            <p style="color: red;">No puede ser menor de edad, por favor ingrese otra fecha de nacimiento</p>
                        {% endif %}
                        <p><input class="form-control mb-2" type="date" value={{fecha_nacimiento}} name="fecha_de_nacimiento_ingresada" style="font-size:20px"></p>
                    </div>
                    <div>
                        {% if cliente.gold %}
                            <h4>Tipo de cliente:</h4>
                            <p><input class="form-control mb-2" value=Gold style="font-size:20px" readonly=True></p>
                            <h4>Código de seguridad de la tarjeta:</h4>
                            <p><input class="form-control mb-2" value={{cliente.tarjeta_cod_seguridad}} style="font-size:20px" readonly=True></p>
                            <h4>Fecha de vencimiento de la tarjeta:</h4>
                            <p><input class="form-control mb-2" value="{{cliente.tarjeta_fecha_vencimiento}}" style="font-size:20px" readonly=True></p>
                            <h4>Nombre del titular de la tarjeta:</h4>
                            <p><input class="form-control mb-2" value="{{cliente.tarjeta_nombre_titular}}" style="font-size:20px" readonly=True></p>
                            <h4>Número de la tarjeta:</h4>
                            <p><input class="form-control mb-2" value={{cliente.tarjeta_numero}} style="font-size:20px" readonly=True></p>
                            <p class="mt-3">Si desea ser un cliente común o cambiar algún dato de la tarjeta haz clic <a href="{% url 'perfil_tipo_gold' %}">aquí</a>.</p>
                        {% endif %}
                        {% if cliente.gold == False %}
                            <h4>Tipo de cliente:</h4>
                            <p><input class="form-control mb-2" value=Común style="font-size:20px" readonly=True></p>
                            <p class="mt-3">Si desea ser un cliente gold haz clic <a href="{% url 'perfil_tipo_comun' %}">aquí</a>.</p>
                        {% endif %}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Editar</button>
                </form>
                <hr>
                <p><strong><a href="{% url 'eliminar_cuenta' cliente.pk %}">Eliminar cuenta</a></strong></p>
                <p>
                    &nbsp;
                </p>
            {% else %}
                <h1>No hay un cliente con ese dni</h1>
            {% endif %}
        </body>
    </head>
</html>
{% endblock content %}