{% extends "base.html" %}
{% load static %}
{% block title %}Nombre{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <form action="{% url 'perfil' %}" method="POST">
                    {% csrf_token %}
                    <h3 class="mb-4">Fecha de nacimiento</h3>
                    {{form.as_p}}
                    {% if error == "Es menor de edad" %}
                        <p style="color: red;">No puede ser menor de edad, por favor ingrese otra fecha de nacimiento</p>
                    {% endif %}
                    {% if error == "No se ingresó fecha de nacimiento" %}
                        <p style="color: red;">No ha ingresado una fecha de nacimiento, por favor ingrese una</p>
                    {% endif %}
                    <p><input type="date" class="form-control mb-2" placeholder="Ingrese su nueva fecha de nacimiento" name="fecha_de_nacimiento_ingresada"></p>
                    <button class="btn btn-primary btn-block" type="submit">Editar</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %} 