{% load static %}
<!DOCTYPE html>
<html>
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'PaginaWeb/main.css' %}">
        {% if titulo %}
        <title>Ventaline - {{titulo}}</title>
        {% else %}
        <title>Ventaline</title>
        {% endif %}
    </head>
    <body>
          
          
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Ventaline</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/home">Home</a>
                    <a class="nav-item nav-link" href="/about">Nosotros</a>
                </div>
                <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'perfil' %}">Mi perfil</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                        <a class="nav-item nav-link" href="{% url 'registrar' %}">Registrarse</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            </nav>
        </header>

<html>
    <head>
        <h1>Mi perfil</h1>
        <body>
            {% if cliente %}
                <div>
                    <h2>{{ cliente.usuario.first_name }}</h2>
                    {{ form.link }}
                    <!-- <input type="nombre" value="{{cliente.usuario.first_name}}" class="form-control mt-3" readonly> -->  
                    <p class="mt-3">Si desea cambiar su nombre haz clic <a href="{% url 'perfil_nombre' %}">aquí</a>.</p>
                    <!-- <input type="sumbit" class="btn btn-primary btn-block mt-3" value="Actualizar"> -->  
                </div>
                <div>
                    <h2>{{ cliente.usuario.last_name }}</h2>
                </div>
                <div>
                    <h2>{{ cliente.usuario.email }}</h2>
                </div>
                <div>
                    <h2>{{ cliente.dni }}</h2>
                </div>
                <div>
                    <h2>{{ cliente.fecha_nacimiento }}</h2>
                </div>
                <div>
                    {% if cliente.gold %}
                        <h2>Es un cliente gold</h2>
                        <h2>{{ cliente.tarjeta_cod_seguridad }}</h2>
                        <h2>{{ cliente.tarjeta_fecha_vencimiento }}</h2>
                        <h2>{{ cliente.tarjeta_nombre_titular }}</h2>
                        <h2>{{ cliente.tarjeta_numero }}</h2>
                    {% endif %}
                    {% if cliente.gold == False %}
                        <h2>No es un cliente gold</h2>
                    {% endif %}
                </div>
            {% else %}
                <h1>No hay un cliente con ese dni</h1>
            {% endif %}
        </body>
    </head>
</html>