<li class="list-group-item list-group-item-light" style="font-size:16px">
    <p><strong>Origen: </strong> {{viaje.ruta.ciudad_origen}} | <strong>Destino: </strong> {{viaje.ruta.ciudad_destino}}
    </p>
    <p><strong>Tipo de combi: </strong> {{viaje.ruta.combi.tipo}} | <strong>Asientos disponibles: </strong> {{viaje.asientos_disponibles}} | <strong>Precio por asiento: </strong> ${{viaje.precio}}
    </p>
    <p><strong>Fecha y hora de salida: </strong> {{viaje.fecha_hora}} 
        {% if user.chofer %}
        | <strong>Estado: </strong> {{viaje.estado}}
        {% endif %}
    </p>
    {% if user.cliente %}
        {% if viaje.estado == 'Pendiente' %}
        {% if user.cliente.suspendido or user.first_name in "Pendiente" or user.last_name in "Pendiente" %}
            {% if fin_suspension > viaje.fecha_hora.date or user.first_name in "Pendiente" or user.last_name in "Pendiente" %}
                <p style="color: darkgrey; text-align: right;">Comprar pasajes</p>
            {% else %}
                <p style='text-align: right;'><a href="{% url 'compra_viaje_asientos' viaje.pk %}" >Comprar pasajes</a></p>
            {% endif %}
        {% else %}
            <p style='text-align: right;'><a href="{% url 'compra_viaje_asientos' viaje.pk %}" >Comprar pasajes</a></p>
        {% endif %}
        {% else %}
        <p style="color: darkgrey; text-align: right;">Comprar pasajes</p>
        {% endif %}
    {% endif %}
    {% if user.chofer %} 
        {% if fecha_de_hoy == viaje.fecha_hora.date %}
            <p style='text-align: right;'><a href="{% url 'chofer_viaje_asistencia' viaje.pk %}" >Seleccionar</a></p>
        {% else %}
            <p style="color: darkgrey; text-align: right;">Seleccionar</p>
        {% endif %}
    {% endif %}
</li>